@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Rufina:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  @apply max-w-[1440px] mx-auto p-4;
}

.background_left {
  background-image: url("./assets/images/background-one.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
}
.background_right {
  background-image: url("./assets/images/background-2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
}

li {
  color: rgba(19, 19, 19, 0.6);

  /* Medium/Type@16 */
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}
a {
  color: var(--secondary-500, #1a202c);
  text-align: right;
  /* Semibold/Type@16 */
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: -0.32px;
}

@media screen and (max-width:998px) {
  .wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
}